name: "CI"

on: push

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.9", "3.10"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup Conda
        uses: s-weigand/setup-conda@v1
        with:
          python-version: ${{ matrix.python-version }}
          auto-update-conda: true
          conda-channels: anaconda, conda-forge

      - name: Install pythonocc-core (Conda)
        run: conda install --yes pythonocc-core
        shell: bash

      - name: Install pip dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install numpy scipy matplotlib pytest pytest-cov
          python -m pip install smithers[vtk]
          python -m pip install .[test]

      - name: Run tests with pytest
        env:
          CODACY_API_TOKEN: ${{ secrets.CODACY_API_TOKEN }}
        run: |
          if [ -z "$CODACY_API_TOKEN" ]; then
            python -m pytest
          else
            python -m pytest --cov-report term --cov-report xml:cobertura.xml --cov=pygem
            curl -s https://coverage.codacy.com/get.sh -o CodacyCoverageReporter.sh
            chmod +x CodacyCoverageReporter.sh
            ./CodacyCoverageReporter.sh report -r cobertura.xml -t $CODACY_API_TOKEN
          fi