name: "CI"

on: push

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-12]
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install numpy scipy matplotlib pytest pytest-cov

    - name: Test with pytest
      env:
        CODACY_API_TOKEN: ${{ secrets.CODACY_API_TOKEN }}
      run: |
        if [ -z "$CODACY_API_TOKEN" ]
        then
          python3 -m pytest
        else
          python3 -m pytest --cov-report term --cov-report xml:cobertura.xml --cov=pygem
          curl -s https://coverage.codacy.com/get.sh -o CodacyCoverageReporter.sh
          chmod +x CodacyCoverageReporter.sh
          ./CodacyCoverageReporter.sh report -r cobertura.xml  -t $CODACY_API_TOKEN
        fi

