name: "Testing Pull Request"

on:
  pull_request:
    branches:
      - "master"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-12, ubuntu-latest]
        python-version: ["3.9", "3.10"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup Conda
        uses: s-weigand/setup-conda@v2
        with:
          python-version: ${{ matrix.python-version }}
          update-conda: true
          conda-channels: anaconda, conda-forge

      - name: Install pythonocc-core (Conda)
        run: conda install --yes pythonocc-core
        shell: bash

      - name: Install pip dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install "smithers[vtk]"
          python -m pip install ".[test]"

      - name: Run tests with pytest
        run: python -m pytest
