name: "Testing Pull Request"

on:
  pull_request:
    branches:
      - "master"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-12, ubuntu-latest]
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup Conda
        if: matrix.os == 'macos-12' || matrix.os == 'ubuntu-latest'
        uses: s-weigand/setup-conda@v1
        with:
          auto-update-conda: true
          conda-channels: conda-forge

      - name: Install Python dependencies
        run: |
          if [[ "${{ matrix.os }}" == "macos-12" || "${{ matrix.os }}" == "ubuntu-latest" ]]; then
              conda install --yes pythonocc-core=7.4.0
          fi
          python -m pip install --upgrade pip
          python -m pip install smithers[vtk]
          python -m pip install .[test]

      - name: Run tests with pytest
        run: |
          python -m pytest
