name: "Testing Pull Request"

on:
  pull_request:
    branches:
      - "master"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12"]        
    steps:
    - uses: actions/checkout@v2

    
    - name: Installing conda
      uses: conda-incubator/setup-miniconda@v3
      
      with:
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}
        channels: conda-forge
    
    - name: Installing packages
      shell: bash -el {0}
      run: |
        conda install --yes -c conda-forge pythonocc-core=7.4.0
        python -m pip install --upgrade pip
        python -m pip install .[test]
    
    - name: Test with pytest
      shell: bash -el {0}
      run: |
        python -m pytest
